.DS_Store
.env
# Ignore compiled or installed-only artifacts
Meta/
help/
html/
.Rhistory
.RData
.Rproj.user/
.Rbuildignore
*.rdb
*.rdx
*.so
*.o
*.dll
.Rcheck/
*.tar.gz


exp/exp1_simulation/data_generate_script/logs

exp/exp1_simulation/logs
exp/exp1_simulation/data
exp/exp1_simulation/output
exp/exp1_simulation/script

exp/exp2_application/logs
exp/exp2_application/data
exp/exp2_application/output
exp/exp2_application/script
