export(plasmode_datasets)
export(optimal_fraction)

export(sgn)
export(Wilcoxon_test)
export(data_split)
export(planning_test)
export(analysis_test)
export(treatment_detection)

export(Bonferroni_test)

export(evaluation)
export(optimal_solution)
